In [ ]:
# =================================
# Part 1: Sets in Python
# =================================
# Lecture:
# - A Set is an unordered, unindexed collection of unique elements.
# - Duplicates are automatically removed.
# - Mutable, but only immutable objects can be elements (no lists inside sets).
# - Common operations: union, intersection, difference A-B- ----present only in a, subset, superset.
#-----if set is made immutable then it is frozen set

In [ ]:
#union
A={1,2,3}
B={3,4,5}
print(A|B)

{1, 2, 3, 4, 5}

In [ ]:
#Intersection
print (A & B)

{3}

In [ ]:
#difference A- B elements in A not in B
print(A-B)

{1, 2}

In [ ]:
# Example: Creating Sets
set1 = {1, 2, 3, 4, 4, 5}
print("Set with duplicates removed:", set1)

set2 = set([3, 4, 5, 6])
print("Set created from list:", set2)

Set with duplicates removed: {1, 2, 3, 4, 5}
Set created from list: {3, 4, 5, 6}

In [ ]:
# Example: Set Operations
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)
print("Symmetric Difference:", A ^ B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

# -------------------------------
# Hands-On Exercise 1 (Sets)
# -------------------------------
# Q: Create two sets:
#    evens = {2, 4, 6, 8, 10}
#    odds = {1, 3, 5, 7, 9}
#    Find:
#    - Union
#    - Intersection
#    - Difference (evens - odds)
#    - Check if {2,4} is subset of evens

# =================================
# Part 2: Dictionaries in Python
# =================================
# Lecture:
# - A dictionary stores data in key:value pairs.
# - Keys must be unique & immutable (string, number, tuple).
# - Values can be any data type.
# - Dictionaries are mutable.
#dict unordered collection of keys and values pairs

In [ ]:
# Example: Creating a Dictionary
student = {"name": "Alice","age": 22,"courses": ["Math", "Physics","chemistry"]}
print(student)

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'Physics', 'chemistry']}

In [ ]:
student["courses"]

['Math', 'Physics', 'chemistry']

In [ ]:
# Example: Access & Update
#print("Name:", student["name"])
student["age"] = 24
student["city"] = "mumbai"
print("Updated Dictionary:", student)

Updated Dictionary: {'name': 'Alice', 'age': 24, 'courses': ['Math', 'Physics', 'chemistry'], 'city': 'mumbai'}

In [ ]:
# Example: Dictionary Methods
print("Keys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())
print("Get city safely:", student.get("city", "Not Found"))

Keys: dict_keys(['name', 'age', 'courses', 'city'])
Values: dict_values(['Alice', 24, ['Math', 'Physics', 'chemistry'], 'mumbai'])
Items: dict_items([('name', 'Alice'), ('age', 24), ('courses', ['Math', 'Physics', 'chemistry']), ('city', 'mumbai')])
Get city safely: mumbai

In [ ]:
print(student["name"])

Alice

In [ ]:
print(student.get("courses"))

['Math', 'Physics', 'chemistry']

In [ ]:
#remove key-value pair
student.pop("city")

'mumbai'

In [ ]:
#ast inserted item
student.popitem()

('name', 'Alice')

In [ ]:
student

{'name': 'Alice', 'age': 24, 'courses': ['Math', 'Physics', 'chemistry']}

In [ ]:
student

{}

In [ ]:
#nestesd Dictory
employees={"e001":{"name":"rohith","dept":"HR"},
           "e002":{"name":"deepika","dept":"IT"},
           "e003":{"name":"kingsli","dept":"finance"}}
print(employees["e001"]["name"])

rohith

In [ ]:
#Dictionary comphrehension
numbers=[1,2,3,4,89]
squares={x:x**2 for x in numbers}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 89: 7921}

# -------------------------------
# Hands-On Exercise 2 (Dictionaries)
# -------------------------------
# Q: Create a dictionary "marks" with subjects as keys and scores as values.
#    subjects = ["Math", "English", "Science"]
#    scores = [90, 85, 92]
#    - Print all subjects
#    - Print all scores
#    - Add a new subject "History": 88
#    - Update "Math" score to 95
#    - Delete "English"

# =================================
# Part 3: Strings and Manipulation (Part 1)
# =================================
# Lecture:
# - Strings are sequences of characters enclosed in single/double quotes.
# - Strings are immutable.
# - Indexing, slicing works like lists.
# - Common operations: concatenation, repetition, membership test.

In [ ]:
# Example: String Indexing & Slicing
text = "PythonProgramming"
print("First char:", text[0])
print("Last char:", text[-1])
print("Substring [0:6]:", text[0:6])
print("Every 2nd char:", text[::2])

First char: P
Last char: g
Substring [0:6]: Python
Every 2nd char: PtoPormig

In [ ]:
# Example: String Operations
s1 = "Hello"
s2 = "World"
print("Concatenation:", s1 + " " + s2)
print("Repetition:", s1 * 2)
print("Membership:", "ell" in s1)

Concatenation: Hello World
Repetition: HelloHello
Membership: True

# -------------------------------
# Hands-On Exercise 3 (Strings Part 1)
# -------------------------------
# Q: Given string = "DataEngineering"
#    - Print first 4 characters---Given string[0:5]
#    - Print last 5 characters----Given string[10:14]/Given string[-1:-5]
#    - Print string reversed
#    - Check if substring "Engine" exists

In [ ]:
Given_string = "DataEngineering"
Given_string[0:4]

'Data'

In [ ]:
Given_string[10:15]

'ering'

In [ ]:
Given_string[-5:]

'ering'

In [ ]:
Given_string[-1::]

'g'

# =================================
# Part 4: Strings and Manipulation (Part 2)
# =================================
# Lecture:
# - String functions: upper(), lower(), strip(), replace(), split(), join()
# - Searching: find(), index()
# - Validation: isdigit(), isalpha(), isalnum()

In [ ]:
# Example: String Functions
msg = "  Python is FUN!  "
print("Uppercase:", msg.upper())
print("Lowercase:", msg.lower())
print("Stripped:", msg.strip())
print("Replace:", msg.replace("FUN", "POWERFUL"))
print("Split:", msg.split())
print("Join:", "-".join(["Data", "Science"]))

Uppercase:   PYTHON IS FUN!
Lowercase:   python is fun!
Stripped: Python is FUN!
Replace:   Python is POWERFUL!
Split: ['Python', 'is', 'FUN!']
Join: Data-Science

In [ ]:
# Example: String Validation
num = "12345"
word = "Python"
print("Is Digit:", num.isdigit())
print("Is Alpha:", word.isalpha())
print("Is Alnum:", word.isalnum())

Is Digit: True
Is Alpha: True
Is Alnum: True

# -------------------------------
# Hands-On Exercise 4 (Strings Part 2)
# -------------------------------
# Q: Given string = "   Machine Learning with Python   "
#    - Remove extra spaces
#    - Convert to uppercase
#    - Replace "Python" with "AI"
#    - Split words into list
#    - Check if all characters are alphabets

In [ ]:
# Given string
#s = " Machine Learning with Python "
s=90
# 1. Remove extra spaces
s = s.strip()

# 2. Convert to uppercase
s = s.upper()

# 3. Replace "Python" with "AI"
s = s.replace("PYTHON", "AI")

# 4. Split words into list
words_list = s.split()

# 5. Check if all characters are alphabets
all_alpha = s.replace(" ", "").isalpha()

# Output
print("Processed String:", s)
print("Words List:", words_list)
print("All Characters Alphabets?:", all_alpha)

Processed String: MACHINE LEARNING WITH AI
Words List: ['MACHINE', 'LEARNING', 'WITH', 'AI']
All Characters Alphabets?: True

In [ ]:
# Given string
s = " Machine Learning with Python "

# 1. Remove extra spaces
s = s.reverse()
s

'Machine Learning with Python'

# =================================
# Stretch Activities / Puzzles
# =================================
# 1. Remove duplicates from a string using sets
# 2. Count word frequency in a sentence using a dictionary
# 3. Check if two strings are anagrams
# 4. Find intersection of two lists using sets
# 5. Create a nested dictionary of students with marks in 3 subjects

In [ ]:
# =================================
# 1. Remove duplicates from a string using sets
# =================================
s = "programming"
result = "".join(set(s))  # order not preserved
print("Without duplicates:", result)

# =================================
# 2. Count word frequency in a sentence using a dictionary
# =================================
sentence = "machine learning with python and machine learning"
words = sentence.split()
word_freq = {}
for word in words:
    word_freq[word] = word_freq.get(word, 0) + 1
print("Word Frequency:", word_freq)

# =================================
# 3. Check if two strings are anagrams
# =================================
str1 = "listen"
str2 = "silent"
if sorted(str1) == sorted(str2):
    print("Anagram: Yes")
else:
    print("Anagram: No")

# =================================
# 4. Find intersection of two lists using sets
# =================================
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]
intersection = list(set(list1) & set(list2))
print("Intersection:", intersection)

# =================================
# 5. Create a nested dictionary of students with marks in 3 subjects
# =================================
students = {
    "Alice": {"Math": 85, "Science": 90, "English": 88},
    "Bob": {"Math": 78, "Science": 82, "English": 80},
    "Charlie": {"Math": 92, "Science": 88, "English": 91}
}
print("Students Data:", students)

Without duplicates: minproag
Word Frequency: {'machine': 2, 'learning': 2, 'with': 1, 'python': 1, 'and': 1}
Anagram: Yes
Intersection: [4, 5]
Students Data: {'Alice': {'Math': 85, 'Science': 90, 'English': 88}, 'Bob': {'Math': 78, 'Science': 82, 'English': 80}, 'Charlie': {'Math': 92, 'Science': 88, 'English': 91}}

In [ ]:
# =================================
# 1. Remove duplicates from a string using sets
# =================================
s = input("Enter a string: ")
result = "".join(set(s))   # order not preserved
print("Without duplicates:", result)

# Hands-On:
# Try with input: "programming", "hello", "banana"
# Extension: Modify code to PRESERVE the order of characters.


# =================================
# 2. Count word frequency in a sentence using a dictionary
# =================================
sentence = input("Enter a sentence: ")
words = sentence.split()
word_freq = {}
for word in words:
    word_freq[word] = word_freq.get(word, 0) + 1
print("Word Frequency:", word_freq)

# Hands-On:
# Try with input: "machine learning with python and machine learning"
# Extension: Ignore case (make all words lowercase before counting).


# =================================
# 3. Check if two strings are anagrams
# =================================
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
if sorted(str1) == sorted(str2):
    print("Anagram: Yes")
else:
    print("Anagram: No")

# Hands-On:
# Try with: "listen", "silent" → Yes
# Try with: "python", "java" → No


# =================================
# 4. Find intersection of two lists using sets
# =================================
list1 = [int(x) for x in input("Enter list1 (space-separated): ").split()]
list2 = [int(x) for x in input("Enter list2 (space-separated): ").split()]
intersection = list(set(list1) & set(list2))
print("Intersection:", intersection)

# Hands-On:
# Try with: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7]
# Extension: Find UNION as well.


# =================================
# 5. Create a nested dictionary of students with marks in 3 subjects
# =================================
students = {}
n = int(input("Enter number of students: "))
for i in range(n):
    name = input(f"Enter name of student {i+1}: ")
    math = int(input("Enter Math marks: "))
    sci = int(input("Enter Science marks: "))
    eng = int(input("Enter English marks: "))
    students[name] = {"Math": math, "Science": sci, "English": eng}

print("Students Data:", students)

# Hands-On:
# Enter 2-3 students and check the nested dictionary.
# Extension: Calculate total marks of each student.

Enter a string: R
Without duplicates: R
Enter a sentence: ragigudda rajajinagar
Word Frequency: {'ragigudda': 1, 'rajajinagar': 1}
Enter first string: cgcgi itc tcs
Enter second string: wipro hilllo bello
Anagram: No
Enter list1 (space-separated): 56,98,78,90

ValueError: invalid literal for int() with base 10: '56,98,78,90'

In [ ]:
# 1. Remove duplicates from a string using sets
# =================================
s = input("Enter a string: ")
result = "".join(set(s))   # order not preserved
print("Without duplicates:", result)

Enter a string: robinson
Without duplicates: norsib

In [ ]:
#conditinal statements
if,if-else,if-elif-else

In [ ]:
age=18
if age >= 18:
  print("you are adult")
else:
  print("child")

you are adult

In [ ]:
#nested if
num=16#static input
if num>0:
  if num % 2 == 0:
    print("positive even number")

positive even number

In [ ]:
num=int(input("enter the number: "))#dynamic input
if num>0:
  if num % 2 == 0:
    print("positive even number")
  else:
    print("other number")

enter the number: 79
other number

In [ ]:
num=int(input("enter the number: "))
if num >0:
  if num % 2 ==0:
    print("positive even number")
  else:
    print("positive odd number")
elif num<0:
  print("negative number")
else:
  print("Zero")

enter the number: 0
Zero

In [ ]:
#loops
#iterate over sequence---[12,6,8,7,5,4,0]
for loop and while loop
for variable in sequence:

In [ ]:
#while loop is condition based

In [ ]:
players=["nadal","fedrer","sinner"]
for each in players:
  print(players)

['nadal', 'fedrer', 'sinner']
['nadal', 'fedrer', 'sinner']
['nadal', 'fedrer', 'sinner']

In [ ]:
for each in range(5):
  print(each)

0
1
2
3
4

In [ ]:
range(5)

range(0, 5)

In [ ]:
#check if number are odd or even
for num in range(1,5):
  if num % 2==0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even

In [ ]:
x=[60,78,6,8,9,4,5]
# num=int(input("enter the number: "))
for num in x:
  if num % 2==0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

enter the number: 0
60 is even
78 is even
6 is even
8 is even
9 is odd
4 is even
5 is odd

In [ ]:
x=[60,-78,6,-8,9,4,5]
for each in x:
  if each >0:
    print(f"{each} is positive")
    #print("the number is positive")

60 is positive
6 is positive
9 is positive
4 is positive
5 is positive

In [ ]:
#while loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10